DISCORD_ID=
DISCORD_TOKEN=

# mysql://user:password@localhost:port/db
DB_CONNECTION_STRING_BOT=

REDIS_STRING=

# Allow you to use all commands without checks
BYPASS_IDS=340560711304347658,462990981596446730

# Only if you have closed source
GITHUB_PAT=

# Owner/Repo
GITHUB_LINK=
GITHUB_BRANCH=

# Enable additional functional, plus allowing to pull automaticly updates with [DEV] marking
DEV=0

WEBHOOK_ID=
WEBHOOK_TOKEN=
